# build artifacts
/build/
/build/**
/out/
/out/**
/figures/
/figures/**
.codex
out/.mplconfig/
*.o
*.obj
*.exe
*.out

# Python
__pycache__/
*.pyc
.venv/
.venv_pdf/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vscode/
